<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- configure inject spring bean
    bean id should be the class name lowercase
    class is the path of the class
    -->
    <bean id = "userEntity" class = "hk.hku.entity.UserEntity">
    </bean>
</beans>